.body {
  padding-top: 70px;
}

.container {
  width: 100%;
}

.navbar {
  border: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: rgba(0, 100, 0, 0.7);
  left: 0;
}

.navbar-nav {
  margin: 0;
  display: inline-block;
}

.navbar-nav > li {
  display: inline-block;
}

.navbar-nav > li > a {
  padding: 15px;
  color: #fff; /* Couleur du texte pour les liens du menu */
}

.navbar-right {
  float: right;
  display: inline-block;
}

.navbar-default .navbar-nav > li > a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.navbar-default .navbar-nav .active > a {
  background-color: rgba(52, 77, 89, 0.8); /* Vert transparent pour le fond du lien actif */
}

.navbar-default .navbar-toggle {
  border-color: #fff; /* Couleur de la bordure du bouton de menu déroulant */
}

.navbar-nav > li > a:hover {
  color: #333;
  border-radius: 10px;
}

.deroulant ul {
  background-color: rgba(52, 77, 89, 0.8); /* Vert transparent pour le fond de la liste déroulante */
}

.deroulant ul li {
  padding: 10px;
}

.deroulant ul li:hover {
  background-color: rgba(52, 77, 89, 0.8); /* Vert transparent pour le fond au survol */
  border-radius: 10px;
}

.custom-search-button {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: #fff;
}

.custom-search-button:hover {
  background-color: #45A049;
  border-color: #45A049;
}
